/* Allgemeine Formatierungen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/* Hintergrundfarbe der Seite und Schriftfarbe */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} 

.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
} 

h1 {
    text-align: center;
    margin-bottom: 30px;
} 

/* Stil für die Überschriften der Abschnitte */
h2 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
} 

/* Allgemeine Formatierungen für den Container von Optionen */
.option-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
} 

/* Hintergrundfarbe für Optionen */
.option {
    background-color: #f0f0f0; /* Helles Grau als Hintergrund */
    padding: 15px;
    border-radius: 10px; /* Abgerundete Ecken für den Button */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatten für Tiefe */
    transition: all 0.3s ease; /* Sanfter Übergang bei Hover */
    cursor: pointer; /* Mauszeiger ändert sich zu einem Hand-Symbol */
    touch-action: manipulation; /* Verhindert das Standard-Verhalten des Touch-Events */
} 

/* Hover-Effekt für Optionen */
.option:hover,
.option:active,
.option:focus {
    background-color: #007BFF; /* Blaue Hintergrundfarbe beim Hover */
    color: white; /* Weißer Text beim Hover */
    transform: translateY(-3px); /* Kleine Animation beim Hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stärkerer Schatten */
} 

/* Markierung für die aktuell ausgewählte Option */
.option.selected {
    background-color: #007BFF; /* Blaue Farbe für die ausgewählte Option */
    color: white; /* Weißer Text für die ausgewählte Option */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stärkerer Schatten */
} 

input[type="radio"] {
    display: none; /* Radio Buttons verstecken */
} 

label {
    cursor: pointer;
}
